<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.petmate.common.repository.mybatis.user.MemberMapper">

    <!-- 회원 조회 -->
    <select id="findById"
            parameterType="java.lang.String"
            resultType="com.petmate.domain.auth.dto.response.MemberDto">
        SELECT
        no,
        id,
        pw,
        mail
        FROM member
        WHERE id = #{id}
    </select>

    <!-- 회원 가입 -->
    <insert id="signup"
            parameterType="com.petmate.domain.auth.dto.response.MemberDto">
        INSERT INTO member (
        id,
        pw,
        mail
        )
        VALUES (
        #{id},
        #{pw},
        #{mail}
        )
    </insert>

</mapper>
